.elements__like {
  width: 22px;
  height: 19px;
  background: transparent url('../../../images/Vector.svg') center no-repeat;
  background-size: 22px 19px;
  cursor: pointer;
}

.elements__like:hover {
  opacity: 0.5;
  transition: 0.5s;
  cursor: pointer;
}

.elements__like:active {
  background: url(../../../images/like_active.svg);
  opacity: 1;
}
