.profile__button {
  background: transparent url('../../../images/button_image.svg') center no-repeat;
  background-color: #000;
  border: 1px solid white;
  width: 24px;
  height: 24px;
}

.profile__button:hover {
  opacity: 0.5;
  transition: 0.5s;
  cursor: pointer;
}

@media screen and (max-width: 480px) {
  .profile__button {
    width: 18px;
    height: 18px;
  }
}
